html {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

main {
    position: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 7px;
    border-color: black;
    border-style: solid;
    flex-direction: column;
    margin-top: 4rem;
}

.row {
    width: 100%;
    height: 4.444rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 4.444rem;
    height: 4.444rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.cell:hover {
    cursor: pointer;
}

.selected {
    border: 4px solid cornflowerblue;
    background-color: rgb(211, 219, 236);
    z-index: 11;
    height: 4.194rem;
    width: 4.194rem;
}