html {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    background-color: rgb(4, 41, 48);
}

:root {
    --main-teal: rgb(4, 41, 48);
    --light-teal: rgb(6, 66, 78);
    --off-white: rgb(214, 202, 185);
}

main, body {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 7px double black;
    flex-direction: column;
    margin-top: 4rem;
}

.row {
    width: 100%;
    height: 4.444rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 4.444rem;
    height: 4.444rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: antiquewhite;
}

.cell:hover {
    cursor: pointer;
    background-color: var(--off-white);
    font-weight: bold;
}

.note {
    height: 1.481481rem;
    width: 1.481481rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.note-row {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.selected {
    border: 4px solid cornflowerblue;
    background-color: rgb(211, 219, 236);
    z-index: 11;
    height: 4.194rem;
    width: 4.194rem;
}

.answer {
    position: absolute;
    font-size: 3.5rem;
}

#controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}

#numbers-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.number-input {
    font-size: 3rem;
    margin: 0 1rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--main-teal);
    border: 3px outset black;
    border-radius: 3px;
    color: antiquewhite;
    box-shadow: 2px 2px 1px black;
}

.number-input:hover {
    cursor: pointer;
    background-color: var(--light-teal);
}

