html {
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    background-color: var(--main-teal);
}

:root {
    --main-teal: rgb(2, 23, 27);
    --light-teal: rgb(5, 32, 37);
    --dark-teal: rgb(1, 16, 19);
    --off-white: rgb(214, 202, 185);
    --light-cornflower: rgb(199, 211, 238);
    --lighter-cornflower: rgb(211, 219, 236);
}

main,
body {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

#board {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 7px double var(--off-white);
    flex-direction: column;
    margin-top: 4rem;
}

.row {
    width: 100%;
    height: 4.444rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 4.444rem;
    height: 4.444rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: antiquewhite;
}

.cell:hover {
    cursor: pointer;
    background-color: var(--off-white);
    font-weight: bold;
}

.given {
    background-color: var(--off-white);
}

.given:hover {
    font-weight: normal;
}

.note {
    height: 1.481481rem;
    width: 1.481481rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.note-row {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.selected {
    border: 4px solid cornflowerblue;
    background-color: var(--light-cornflower);
    z-index: 11;
    height: 4.194rem;
    width: 4.194rem;
}

.selected:hover {
    border: 4px solid cornflowerblue;
    background-color: var(--lighter-cornflower);
}

.answer {
    position: absolute;
    font-size: 3.5rem;
}


/* #region controls */
#controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    border: 1px solid var(--light-teal);
    border-radius: 5px;
    background-color: var(--dark-teal);
}

#numbers-container,
#other-controls {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.number-input {
    font-size: 3rem;
    margin: 0 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--main-teal);
    border: 2px solid var(--off-white);
    border-radius: 2px;
    color: antiquewhite;

}

.number-input:hover {
    cursor: pointer;
    background-color: var(--light-teal);
    box-shadow: 1px 1px 1px var(--off-white);
}

#reset-button:hover {
    cursor: pointer;
    background-color: var(--light-teal);
    box-shadow: 1px 1px 1px var(--main-teal);
}

#other-controls {
    margin-top: 1.5rem;
}

#reset-button,
#note-mode {
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--main-teal);
    border-radius: 2px;
    background-color: var(--main-teal);
    color: antiquewhite;
    padding: 0.3rem 0.5rem;
}

#note-mode:hover {
    background-color: var(--light-teal);
    box-shadow: 1px 1px 1px black;
}

#note-toggle:hover {
    cursor: pointer;
}

.number-input:active,
#reset-button:active {
    background-color: var(--dark-teal);
    box-shadow: -1px -1px 1px var(--dark-teal);
    color: var(--off-white);
    border-color: var(--light-teal);
}

#mobile-check {
    display: none;
}

/* #endregion */

@media only screen and (max-width: 480px) {

    html {
        font-size: 8px;
    }

    #board {
        margin: 10% auto 0;
        border: 5px solid var(--off-white);
        position: relative;
    }

    .note {
        font-size: 10px;
    }

    #controls {
        padding: 2rem 0;
        position: relative;
        right: 1rem;
    }

    .number-input {
        margin: 0 0.5rem;
    }

    .selected {
        width: 3.944rem;
        height: 3.944rem;
    }

}

@media only screen and (max-width: 480px) {
    #mobile-check {
        display: block;
    }

}